
@{
    var products = (List<Product>)ViewData["products"];
    var prodbefore = (List<Cart>)ViewData["prodbefore"];

    var prod = (List<ViewCartProduct>)ViewData["viewcartprod"];

    double TotalPrice = 0;

    foreach (var QuantityNum in prod)
    {

        TotalPrice += (QuantityNum.unitPrice * QuantityNum.Quantity);
    }
    }

<head>

    <style>
        * {
            box-sizing: border-box;
        }

        
        .column {
            float: left;
            width: 33.33%;
            padding: 15px;
        }


        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        
        div.format {
            padding: 2px;
            text-align: center;
        }

        .button {
            background-color: #DCDCDC;
           
            padding: 5px 20px;
            text-align: center;
            display: inline-block;
            font-size: 10px;
            margin: 2px 1px;
            cursor: pointer;
            border-radius: 12px;
        }

            .button:hover {
                background-color: #696969;
                color: white;
            }

       @* .row column img {
            width:"600";
            height="550";
            object-fit: cover;
        }
*@
        .Checkout p {
            text-align: right;
            
        }
    </style>


</head>

<body>
   

    <form>
        <p name="ToatalPrice" id="TotalPrice">@TotalPrice</p>
    </form>
    <hr>


    <table>




        @foreach (var product in prod)
        {

            <tr>

                <div class="row">
                    <div class="column">
                        <img src=@product.productImage class="row column img" />
                        <div class="format">
                            <p><b>@product.productNmae</b></p>
                            <p>@product.productDescription</p>
                        </div>
                    </div>

                    <form action="/ViewCart/changeQuantity" method="post">
                        <div class="column">
                            <div class="button">
                                <input type="number" id="Quantity" name="Quantity" min="0" max="100" value="@product.Quantity">
                                <input type="submit" />
                            </div>
                        </div>
                    </form>

                    <form>
                        <div class="column">
                            <div class="Price">
                                <p><input type="text" name="EachPrice" id="EachPrice" value="@product.unitPrice" readonly></p>
                                <p><input type="submit" id="Delete" name="Delete" value="Delete" /></p>
                            </div>
                        </div>
                    </form>
                </div>

            </tr>

        }
        <hr>
        <tr>
            <div class="row">
                <div class="column">
                </div>

                <div class="column">
                </div>

                <div class="column">
                    <div class="Checkout">
                        <input type="submit" value="Checkout" class="button">
                    </div>
                </div>
            </div>
        </tr>



    </table>



</body>