
@{
    var products = (List<Product>)ViewData["products"];
    var prodbefore = (List<Cart>)ViewData["prodbefore"];

    var prod = (List<ViewCartProduct>)ViewData["viewcartprod"];

    var total = (double)ViewData["Total"];
    }

<head>

    <style>
        * {
            box-sizing: border-box;
        }

        
        .column {
            float: left;
            width: 33.33%;
            padding: 15px;
        }


        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        
        div.format {
            padding: 2px;
            text-align: center;
        }

        .button {
            background-color: #DCDCDC;
           
            padding: 5px 20px;
            text-align: center;
            display: inline-block;
            font-size: 10px;
            margin: 2px 1px;
            cursor: pointer;
            border-radius: 12px;
        }

            .button:hover {
                background-color: #696969;
                color: white;
            }

       @* .row column img {
            width:"600";
            height="550";
            object-fit: cover;
        }
*@
        .Checkout p {
            text-align: right;
            
        }
    </style>


</head>

<body>


    <form>
        <p name="ToatalPrice" id="TotalPrice" style=" text-align: right">Total Price: @total.ToString("c")</p>
    </form>
    <hr>


    <table>




        @foreach (var product in prod)
        {
            <form action="/ViewCart/changeQuantity" method="post">
                <tr>

                    <div class="row">
                        <div class="column">
                            <img src=@product.productImage class="row column img" />
                            <div class="format">
                                <p><b>@product.productNmae</b></p>
                                <p>@product.productDescription</p>
                                <input type="hidden" name="Product_ID" value=@product.productId>
                            </div>
                        </div>

                        <div class="column">

                            <div class="input-group justify-content-center">
                                <select class="custom-select col-sm-2 align-items-center" id="Quantity" name="Quantity">
                                    <option selected value=@product.Quantity>@product.Quantity</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>


                                </select>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-success" id="add">Add</button>
                                </div>
                            </div>


                           
                        </div>

                        <div class="column">
                            <div class="Price">
                                <p><input type="text" name="EachPrice" id="EachPrice" value="@product.unitPrice.ToString("c")" readonly></p>

                            </div>
                        </div>
                    </div>

                </tr>
            </form>

        }
    </table>
    <div>
        <a asp-controller="Gallery" asp-action="Index" style="float:right">Continue Shopping</a>
    </div>
    <br />
    <br />
    <br />
    <form asp-action="Index" asp-controller="Order" style="float:right">
        <div class="Checkout">
            <input type="submit" value="Checkout" class="btn btn-success">
        </div>
    </form>







</body>