@{
    ViewData["Title"] = "My Purchases";
    var pdtInfo = (List<Order>)ViewData["pdtInfos"];
    var pdtImg = (string[])ViewData["pdtImg"]; 
}


<style>
    .actCodeBox {
        width: 130px;
        height: 25px;
        border: 1px solid black;
        font-size: 14px;
        color: black;
        background-color: white;
    }
</style>


<script>
    function downloadStarted() {
        alert("Download started.");
    }
</script>-->-->

@*Table layout*@
        <hr /> 
            <div class="text-center"> <h1 class="display-4">My Purchases</h1>
            <br /> 
            </div> 
            <table width="100%" cellpadding="10" align="center">
        @for (int i = 0; i < pdtImg.Length; i++)
    {
        {
    @: <tr style="border-bottom:1px solid lightgray">
                    }

            @: <td style="text-align:center">
                        @: <img src="@pdtImg[i]" width="250" />
                        @: <p><br /><button type="button" onclick="downloadStarted()">Download</button></p>
                    @: </td>
        
            @: <td class="order_details" width="150">
                        @: <span class="desc">Product:</span>
                        @: <span class="desc">Description:</span>
                        @: <span class="Od_desc">Date of Purchase:</span>
                        @: <span class="Od_desc">Quantity:</span>
                        @: <span class="Od_desc">Activation Code:</span>
                    @: </td>
        
            /*@: <td class="order_details">
                        @: <span class="desc"> @pdtInfo.ProductName[i] </span>
                        @: <span class="desc"> @pdtInfo.ProductDesc[i] </span>
                        @: <span class="Od_desc"> @pdtInfo.OrderDate[i] </span>
                        @: <span class="Od_desc"> @pdtInfo.OrderQuantity[i] </span>
                            if (orderQty[i] > 1)
                    {
                 <span> <select class="actCodeBox"> <option selected>A011-1234-5678</option> 
            
        <option>A022-1234-8765</option>-->
                     @*how to generate random code?*@
        <!--</select> </span> 
                    }
                    else
                    {
                @: <span class="Od_desc">A027-9999-9876</span>
                            }
                @:
                    @: </td>*/
        
            if (i + 1 % 2 == 0)
            {
    @: </tr>
                }
    }
        </table>