@{
    ViewData["Title"] = "My Purchases";
    var orderInfo = (List<Order>)ViewData["orderInfos"];
    var actCodes = (List<Order>)ViewData["actCodes"];
    // var pdtImg = (string[])ViewData["pdtImg"];
}


<style>
    .actCodeBox {
        width: 130px;
        height: 25px;
        border: 1px solid black;
        font-size: 14px;
        color: black;
        background-color: white;
    }

    .shortText {
        display: inline-block;
        border-bottom: 1px dotted grey;
    }

        .shortText:hover + .longText {
            visibility: visible;
        }

    .longText {
        visibility: hidden;
        width: 30%;
        background-color: white;
        color: black;
        border-radius: 3px;
        padding: 3px 0;
        border: 1px solid black;
        position: absolute;
        z-index: 1;
    }
</style>


<script>
    function downloadStarted() {
        alert("Download started.");
    }
</script>

@*Table layout*@
<hr />
<div class="text-center">
    <h1 class="display-4">My Purchases</h1>
    <br />
</div>
<table width="100%" cellpadding="10" align="center">
    @foreach (var detail in orderInfo)
    {
        //Do we a loop here
        @:<tr style="border-bottom:1px solid lightgray">
            @:
            <td style="text-align:center">
                <img src="@detail.Product_Img" width="250" />
                <p>
                    <br /><button type="button" onclick="downloadStarted()">
                        Download
                    </button>
                </p>

            </td>
            <td class="order_details" width="150">
                <span class="desc">Product:</span><br />
                <span class="desc">Description:</span><br />
                <span class="Od_desc">Date of Purchase:</span><br />
                <span class="Od_desc">Quantity:</span><br />
                <span class="Od_desc">Activation Code:</span><br />

            </td>

            @:<td class="order_details">
                <span class="desc"> @detail.Product_Name </span><br />
                <div class="shortText">
                    <span class="desc"> @detail.Product_Desc</span>
                </div><br />
                @*<div class="longText">
                    <span class="desc"> @detail.Product_Desc </span>
                </div><br />*@
                <span class="Od_desc"> @detail.Order_Date.ToShortDateString()</span><br />
                <span class="Od_desc"> @detail.Order_Quantity</span><br />
                if (detail.Order_Quantity == 1)
                {
                    <span></span>
                }
                @:<span>
                    @:<select class="actCodeBox">


                        @foreach (Order ac in actCodes)
                        {
                            @*<option selected>@ac.Activation_Code</option>*@
                            if (detail.Product_ID == ac.Product_ID)
                            {
                                <option selected>@ac.Activation_Code</option>
                            }
                        }

                    @:</select>


                @:</span>


            @:</td>


        @:</tr>
    }
</table>