@{
    ViewData["Title"] = "My Purchases";
    var pdtInfo = (List<Order>)ViewData["pdtInfos"];
    var pdtImg = (string[])ViewData["pdtImg"]; 
    var actCode = (List<Order>)ViewData["actCodes"];
}


<style>
    .actCodeBox {
        width: 130px;
        height: 25px;
        border: 1px solid black;
        font-size: 14px;
        color: black;
        background-color: white;
    }
</style>


<script>
    function downloadStarted() {
        alert("Download started.");
    }
</script>-->-->

@*Table layout*@
        <hr /> 
            <div class="text-center"> <h1 class="display-4">My Purchases</h1>
            <br /> 
            </div> 
            <table width="100%" cellpadding="10" align="center">
            @foreach(Order pdtinfo in pdtInfo)
             {
    @: <tr style="border-bottom:1px solid lightgray">


            @: <td style="text-align:center">
                        @: <img src="@pdtinfo.ProductImg" width="250" />
                        @: <p><br /><button type="button" onclick="downloadStarted()">Download</button></p>
                    @: </td>
        
            @: <td class="order_details" width="150">
                        @: <span class="desc">Product:</span>
                        @: <span class="desc">Description:</span>
                        @: <span class="Od_desc">Date of Purchase:</span>
                        @: <span class="Od_desc">Quantity:</span>
                        @: <span class="Od_desc">Activation Code:</span>
                    @: </td>
        
            @: <td class="order_details">
                        @: <span class="desc"> @pdtinfo.ProductName </span>
                        @: <span class="desc"> @pdtinfo.ProductDesc </span>
                        @: <span class="Od_desc"> @pdtinfo.OrderDate</span>
                        @: <span class="Od_desc"> @pdtinfo.OrderQuantity</span>
                        if (pdtinfo.OrderQuantity > 1)
                        {
                            for(int i = 0; i < actCode.Count; i ++)
                            {
                                <span> <select class="actCodeBox"> <option selected>@actCode[i]</option> 
                                </select> </span> 
                             }
                        }
                    @: </td>

    @: </tr>
                }
    }
        </table>