@{
    ViewData["Title"] = "My Purchases";
    var pdtImg = (string[])ViewData["pdtImg"];
    var pdtName = (string[])ViewData["pdtName"];
    var pdtDesc = (string[])ViewData["pdtDesc"];
    var orderDate = (string[])ViewData["orderDate"];
    var orderQty = (int[])ViewData["orderQty"];
    //var actCode = (string[])ViewData["actCode"];
    //var sessionId = (string)ViewData["sessionId"];
}

<div class="text-center">
    <h1 class="display-4">My Purchases</h1>
    <br />
</div>

@*Style*@
@*.img_container {

    }

    .desc_container {

    }

    .desc {

    }

    .order_details {

    }

    .Od_desc {

    }*@
<style>
    .actCodeBox {
        width: 130px;
        height: 25px;
        border: 1px solid black;
        font-size: 14px;
        color: black;
        background-color: white;
    }
</style>

<script>
    function downloadStarted() {
        alert("Download started.");
    }
</script>

@*Table layout*@
<hr />
<table width="100%" cellpadding="10" align="center">
    @for (int i = 0; i < pdtImg.Length; i++)
    {
        {
    @:<tr style="border-bottom:1px solid lightgray">
            }
        @:<div class="img_container">
            @:<td style="text-align:center">
                @:<img src="@pdtImg[i]" width="250px" />
                @:<p><br /><button type="button" onclick="downloadStarted()">Download</button></p>
            @:</td>
        @:</div>
        @:<div class="desc_container">
            @:<td class="order_details" width=150px>
                @:<span class="desc"><p>Product:</p></span>
                @:<span class="desc"><p>Description:</p></span>
                @:<span class="Od_desc"><p>Date of Purchase:</p></span>
                @:<span class="Od_desc"><p>Quantity:</p></span>
                @:<span class="Od_desc"><p>Activation Code:</p></span>
            @:</td>
        @:</div>
        @:<div class="desc_container">
            @:<td class="order_details">
                @:<span class="desc"><p>@pdtName[i]</p></span>
                @:<span class="desc"><p>@pdtDesc[i]</p></span>
                @:<span class="Od_desc"><p>@orderDate[i]</p></span>
                @:<span class="Od_desc"><p>@orderQty[i]</p></span>
                    if (orderQty[i] > 1)
                    {
                <p>
                    <select class="actCodeBox">
                        <option selected>A011-1234-5678</option> @*how to generate random code?*@
                        <option>A022-1234-8765</option> @*how to generate random code?*@
                    </select>
                </p>
                    }
                    else
                    {
                @:<span class="Od_desc">A027-9999-9876</span>
                    }
                @:
            @:</td>
        @:</div>
            if (i + 1 % 2 == 0)
            {
    @:</tr>
        }
    }
</table>